<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo Caller - <%= room.name %></title>
    <script>
        const roomName = "<%= room.name %>"
        const drawerCode = "<%= room._drawerCode %>"
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/ticketbuilder.js"></script>
    <script defer src="/drawer.js"></script>
    <link rel="stylesheet" href="/drawer.css">
    <link rel="stylesheet" href="/strip.css">
</head>
<body>
    <header><h1>Bingo Caller</h1></header>
    <div class="call" id="call"></div>
    <div class="ball" id="ball">..</div>
    <div class="draw-controls">
        <button type="button" id="next-ball">Next Ball</button>
        <button type="button" id="new-game">New Game</button>
    </div>
    <div class="draw-history">
        <table>
        <% for (var i = 1; i <= 10; i++) { %>
            <tr>
            <% for (var j = 0; j < 90; j+=10) { %>
                <td class="cell cell<%= j+i %>" id="cell<%= j+i %>"><%= j+i %></td>
            <% } %>
            </tr>
        <% } %>
        </table>
    </div>
    <div id="checking"></div>
    <div class="player-count" id="player-count"></div>
    <div class="join-details">
        Join Link: 
        <a href="<%= host %>/room/<%= room.name%>/<%= room._code %>"><%= host %>/room/<%= room.name%>/<%= room._code %></a>
    </div>
</body>
</html>
