<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo</title>
    <!-- <script defer src="/socket.io/socket.io.js"></script> -->
    <!-- <script defer src="script.js"></script> -->
</head>
<body>
    <form action="/room" method="POST">
        <input name="room" type="text" required>
        <button type="submit">New Room</button>
    </form>
</body>
</html>
