<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bingo - <%= room.name %></title>
    <script>
        const roomName = "<%= room.name %>"
        const code = "<%= room._code %>"
    </script>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/ticketbuilder.js"></script>
    <script defer src="/script.js"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/strip.css">
</head>
<body>
    <div id="root">
        <H1>Bingo</H1>
        Waiting for game to start.
    </div>
</body>
</html>