* {
    box-sizing: content-box;
}

html,
body {
    height: 100vh;
    padding: 0;
    margin: 0 1em;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

header {
    grid-column: 1 / -1;
    text-align: center;
}

.draw-controls {
    grid-column: 1 / 2;
    text-align: center;
    grid-row: 2 / 3;
    padding-bottom: 2em;
}

button {
    font-size: 1em;
    padding: 1em;
    border-radius: .25em;
    background: #bbbbbb;
    background-image: radial-gradient(white, rgb(186, 186, 186));
    border: 1px solid #888;
}

button + button {
    margin-left: 1em;
}
    
.call {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    height: 1.2em;
    grid-column: 1 / 2;
}

.ball {
    grid-column: 1 / 2;
    font-size: 6em;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    height: 100px;
    width: 100px;
    padding: 50px;
    background-color: #bbbbbb;
    border-radius: 50%;
    background-image: radial-gradient(white, rgb(186, 186, 186));
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin: 25px auto;
    text-align: center;
}

.draw-history {
    grid-column: 2 / -1;
    grid-row: 3 / 5;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 20px;
}

.draw-history table,
.draw-history tr,
.draw-history td {
    border-collapse: collapse;
    border: solid 1px #999;
}

.draw-history table {
    margin: 0 auto;
}

.draw-history .cell {
    width: 2em;
    height: 1.5em;
    color: transparent;
    cursor: default;
    text-align: center;
}

.draw-history .cell.selected {
    color: black;
}

#checking {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}   

#checking .strip {
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

#checking button {
    font-size: 1em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8em;
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--ticket-label-color);
}

@media only screen and (min-width: 490px) {
    button {
        font-size: 2em;
    }    
}

@media only screen and (min-width: 950px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;    
    }

    .draw-controls {
        padding-bottom: 0;
    }

    #checking {
        display: grid;
    }    

    .join-details {
        text-align: right;
    }
}