.strip {
    --color-rgb: 255, 255, 255;
    --strip-background-color: #DB677F;
    --strip-title-color: rgb(var(--color-rgb));
    --ticket-highlight-rgb: 226, 139, 158;
    --ticket-highlight: rgb(var(--ticket-highlight-rgb));
    --ticket-label-color: rgba(var(--color-rgb), .75);
    --ticket-gap: 2px;
    --number-color-rgb: 0, 0, 0;
    --number-color: rgb(var(--number-color-rgb));
    --number-color-dabbed: rgba(var(--number-color-rgb), .55);
    --number-corner-radius: 3px;

    max-width: 500px;
	margin: 1em auto;
	background: var(--strip-background-color);
	padding:1em;
    border-radius: .5em;

    cursor: default;
}

.strip h1 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: var(--strip-title-color);    
    letter-spacing: 1em;
    text-indent: 1em;
}

.ticket {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, max(2em, calc(2 * var(--number-corner-radius))));
    background-color: white;
    margin: 1em 0;
    grid-gap: var(--ticket-gap);
    padding: var(--ticket-gap);
    border-radius: calc(var(--ticket-gap) + var(--number-corner-radius));
}

.label,
.number {
    border-radius: var(--number-corner-radius);
    display: flex;
    justify-content: center;
    align-items: center;        
}

.label {
    grid-row: 1 / -1;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: var(--ticket-highlight);
    color: var(--ticket-label-color);
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

.number {
    border: 1px solid var(--ticket-highlight);
    position: relative;
    color: var(--number-color);
    z-index: 0;
}

.number.dabbable.dabbed {
    color: var(--number-color-dabbed);
}

.number.dabbable.dabbed::before {
    content: '';
    width: 1.75em;
    height: 1.75em;
    background-color: var(--ticket-highlight);
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px var(--ticket-highlight);
}

.hash {
    color: var(--ticket-label-color);
    font-size: small;
}
