* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

h2.label:active {
    color: var(--strip-background-color);
    margin: 2px;
}

.number.dabbable {
    cursor: pointer;
    cursor: url('/pen.cur'), auto;
}
